
.header{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 30px;
	margin-top: 30px;
}

table{
	display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
}

tr{
	display: flex;
  flex-wrap: wrap;
}

td{
	border: 2px solid black;
	height: 100px;
	width: 100px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: 50px;
	cursor: pointer;
	user-select: none;
	color: black;
}

table tr:first-child td{
	border-top:0px;
}

table tr:last-child td{
	border-bottom:0px;
}

table tr td:first-child{
	border-left:0px;
}

table tr td:last-child{
	border-right:0px;
}

.endgame{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
}

.endgame-head{
  height: 3px;
  width: 100%;
  margin-bottom: 60px;
}

.endgame-inner {
  position: absolute;
  top: 8%;
  right: 0;
  left: 0;
  width: 220px;
  padding-bottom: 60px;
  margin: auto;
  background-color: rgb(255, 255, 255, 0.8);
  align-items: center;
}

button{
  font-size: 13px;
  margin-left: 35px; 
  color: #8491a5;
  width: 150px;
  padding: 16px 0;
  border: 0;
  background-color: #f0f4f9;
  cursor: pointer;
}

button:hover {
  color: #8491a5;
  background-color: #ccd9ea;
  transition: .3s ease-in-out;
}

.text{
	color: #5876a3;
  width: 200px;
  line-height: 40px;
  text-align: center;
  margin: 5px auto 10px;
}